node_modules

# Output
.output
.vercel
.netlify
.wrangler
.idea
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.mcp.json
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
